<section>
  <footer class="top">
    <img src="https://cdn.pixabay.com/photo/2016/12/20/05/24/store-1919713_640.png" width="70"/>
    <div class="links">
      <div>
        <h2>Our Product</h2>
        <a>Shoes</a>
        <a>women-dress</a>
        <a>Beaute</a>
        <a>Glasses</a>
        <a>Panjabi</a>
      </div>
      <div>
        <h2>Our Barnd</h2>
        <a>Nike</a>
        <a>gussic</a>
        <a>royal</a>
        <a>Dark White</a>
        <a>DangerUS</a>
      </div>
    </div>
  </footer>
  <footer class="bottom">
    <div class="legal">
      <span> © 2023 All rights reserved </span>
      <a> License </a>
      <a> Terms </a>
      <a> Privacy </a>
    </div>
    <div class="links">
      <a class="fa-brands fa-google"></a>
      <a class="fa-brands fa-linkedin"></a>
      <a class="fa-brands fa-facebook"></a>
    </div>
  </footer>
</section>
